@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Slackey);
@import url(http://fonts.googleapis.com/css?family=Chewy);

html {
	height: 100%;
}


@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 10%;
	}
}

iframe {
	margin: 5% 0;
	width: 100%;
	height : 400px;
	border: 0;
}

.dark-body {
	background-color: #6e444f;
}

.light-body {
	background-color: #ffffd6;
}

.row .remspace .col {
	padding:0px;
}

[type="checkbox"]+label:before {
	border: 2px solid #6B4772;
	margin-left: 15px;
}

[type="checkbox"]+label {
	padding-left: 45px;
	margin: 10px;
	color: #6B4772;
}

[type="checkbox"]:checked+label:before {
	border-color: transparent #6B4772 #6B4772 transparent;
}

label {
	color: #2b1b2e;
}

input#search {
	margin: 0px;
}

.material-icons {
	line-height: 2rem;
}

.input-field label {
	color: #54344d;
}

input[type="text"], input[type="email"], textarea.materialize-textarea {
    border-bottom: 1px solid #54344d;
    box-shadow: 0px 1px 0px 0px #54344d;
    color: #000;
}

input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #54344d;
    box-shadow: 0px 1px 0px 0px #54344d;
}

input[type="text"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly])+ label {
    color: #000;
    font-weight: bold;
}

.btn , .btn:focus {
	color: #fff;
	background-color: #6B4772;
}

.btn:hover{
	color: #6B4772;
	background-color: #ffffd6;
}

nav ,.fimg, footer.page-footer , .collapsible-header {
	background-color: #6b4772;
	color: #ffffd6;
}

nav .row {
	margin: 0;
}

footer .container {
	width: 90%;
}

.row .col .padded-card {
	padding: 0 0.2rem;
}

.container {
    width: 90%;
}

p , a  , nav ul a {
	color: #ffffd6;
}

h1, h4 {
	background-color: #b89e95;
	padding: 0.5rem;
	color: #2b1b2e;
	border : 2px solid #2b1b2e;
	border-radius: 5px;
}

h5 {
	color: #ffffd6;
}

section h5 {
	color: #54344d;
	/*background-color:  #b89e95;*/
	background: -webkit-linear-gradient(left, rgba(184,158,149,1), rgba(184,158,149,0));
    background: -o-linear-gradient(right, rgba(184,158,149,1), rgba(184,158,149,0));
    background: -moz-linear-gradient(right, rgba(184,158,149,1), rgba(184,158,149,0));
    background: linear-gradient(to right, rgba(184,158,149,1), rgba(184,158,149,0));
	border-radius: 20px 0 0 20px;
	padding-left: 1.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

nav ul a{
	font-size: 1.25rem;
}

.row .col .card{
	background-color: #ffffba;
}
.card .card-action a {
	color:#54344d;
}

.card .card-action a:hover{
	color: #000;
}

.card .card-action{
	padding: 7px;
}
.slider .indicators .indicator-item{
	background-color: #ffab40;
}

.card .card-title {
	color: #2b1b2e;
}

.containerP {
	color: #54344d;
	/*border-right : 2px solid #b89e95;*/
	/*border-bottom : 2px solid #2b1b2e;*/
	/*border-radius: 0 0 5px 0;*/

}

.contact-text-left {
	color: #54344d;
	font-family: 'Indie Flower';
	font-size: 3rem;
	/*-ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);*/
}

.contact-text-right {
	color: #54344d;
	font-family: 'Indie Flower';
	font-size: 3rem;
	/*-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);*/
}

.card .card-content .card-title {
  line-height: 1px;
}

.slider .indicators .indicator-item.active {
	background-color: #6B4772;
}

.card .slider .indicators .indicator-item {
	display: none;
}

.card .slider{
	height:200px !important;
}

.collapsible {
	background-color: #ddb5e5;
}

.collapsible-header , .collapsible , .collapsible-body{
	border: 0;
}

.find-us-cont {
	height: 500px;
	width: 100%;
	overflow: hidden !important;
	position: relative;
	border: 3px solid #ffffd6;
	border-radius: 50%;
	margin: 3% 0;
}

.ourLocation {
	height: 600px;
	width : 600px;
	margin: 0;
	margin-top: -50px;
	margin-left: -70px;
}

@media (max-width: 992px) {
	.find-us-cont{
		height: 350px;
	}
}

@media (max-width: 600px) {
	.find-us-cont{
		height: 400px;
	}

	nav .input-field label {
		top: 15px;
	}
}

.err-body .row , .err-body {
	height: 100%;
}

.err-body {
	height: inherit;
	width: 100%;
	background-image: url("../images/hellway.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.err-msg{
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	margin: 20% auto;
	margin-top: 10%;
	width: 70%;
	padding: 5%;
}

.big-msg {
	font-family: 'Slackey';
	color: rgba(255,255,255,0.6);
	font-size: 6rem;
}

.sml-msg {
	font-family: 'Chewy';
	color: rgba(245,0,0,0.7);
	font-size: 1.8rem
}

.sml-msg > a {
	color: rgba(244,67,54,1);
}

.side-nav {
	background-color: #ffffd6;
	color: #ddb5e5;
	font-weight: bold;
}

footer i:hover{
	color: #dddd00;
}

.abt {
	background-image: ;
	margin: 5% auto;
	opacity: 0.9;
}

.abt h4 {
	font-size: 3rem;
}

.abt .containerP {
	font-size: 1.5rem;
}
