<div class="container">
   <section>

      <div class="row">
         <div class="col s12 m5 l5">
            <p class="center contact-text-left">
               Find us here ....
            </p>
            <div class="find-us-cont circle">
               <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sin!4v1436731493930!6m8!1m7!1sydr0FmwvRtoAAAQqlrIJog!2m2!1d36.065488!2d-112.116543!3f159.73292823038796!4f-27.168999949894598!5f0.7820865974627469" class="ourLocation circle" frameborder="0"></iframe>
            </div>
         </div>

         <!-- <div class="col s2">
         <p class="divider">OR</p>
         </div> -->

         <div class="col s12 m6 l6 offset-m1 offset-l1">
            <p class="center contact-text-right">
               or send us a message !!
            </p>
            <div class="row">
               <form class="col s12" ng-submit="addContact()">

                  <div class="row">
                     <div class="input-field col s12">
                        <input id="name" type="text" class="form-text" ng-model="name">
                        <label for="name">Name</label>
                     </div>
                  </div>

                  <div class="row">
                     <div class="input-field col s12">
                        <input id="email" type="email" class="validate form-text" ng-model="email">
                        <label for="email">Email</label>
                     </div>
                  </div>

                  <div class="row">
                     <div class="input-field col s12">
                        <textarea id="message_box" class="materialize-textarea" length="150" ng-model="message"></textarea>
                        <label for="message_box">Message</label>
                     </div>
                  </div>

                  <button class="btn waves-effect waves-light" type="submit" name="send">
                     Send
                  </button>

               </form>
            </div>
         </div>
      </div>

   </section>
</div>
