<div class="container" ng-controller="listController">
	<section>
		<div class="row">
			<div class="col s12 m4 l3 select-bar">
				<ul class="collapsible" data-collapsible="expandable">
					<li>
						<div class="collapsible-header active"><i class="fa fa-globe"></i>Location</div>
						<div class="collapsible-body">
							<div ng-repeat="locations in locationsGroup">
                     	<input type="checkbox" id="{{locations}}" ng-model="useLocations[locations]"/>
								<label for="{{locations}}[">{{locations}}</label>
                  	</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header active"><i class="material-icons">location_on</i>Category</div>
						<div class="collapsible-body">
							<div ng-repeat="tags in tagsGroup">
                     <input type="checkbox" id="{{tags}}" ng-model="useTags[tags]"/>
							<label for="{{tags}}">{{tags}}</label>
                  </div>
						</div>
					</li>
					<li>
						<div class="collapsible-header active"><i class="material-icons">filter_drama</i>Season</div>
						<div class="collapsible-body">
							<div ng-repeat="seasons in seasonsGroup">
                     <input type="checkbox" id="{{seasons}}" ng-model="useSeasons[seasons]"/>
							<label for="{{seasons}}">{{seasons}}</label>
                  </div>
						</div>
					</li>
					<li>
						<div class="collapsible-header active"><i class="material-icons">today</i>Duration</div>
						<div class="collapsible-body">
							<div ng-repeat="durations in durationsGroup">
                     <input type="checkbox" id="{{durations}}" ng-model="useDurations[durations]"/>
							<label for="{{durations}}">{{durations}}</label>
                  </div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col s12 m8 l9">
				<div ng-repeat="place in filteredPlaces">
					<div class="col s12 m6 l4">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<div class="slider">
									<ul class="slides">
										<li><a href="#/places/{{place._id}}"><img src="{{place.images[0]}}"></a></li>
										<li><a href="#/places/{{place._id}}"><img src="{{place.images[1]}}"></a></li>
										<li><a href="#/places/{{place._id}}"><img src="{{place.images[2]}}"></a></li>
										<li><a href="#/places/{{place._id}}"><img src="{{place.images[3]}}"></a></li>
									</ul>
								</div>
							</div>
							<div class="card-action center">
								<a href="#/places/{{place._id}}">{{place.name}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
